/*
 * Reset css
*/
header,
main,
footer {
  margin :0 !important;
  padding :0 !important;
}

/*
 * Font paragraf
 */
p {
  line-height :1.5;
}

/*
 * Font Judul
 */

h1, h2, h3, h4, h5, h6 {
    line-height :1.1 !important;
}
